.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: green;
    padding: 40px;
    z-index: 1;

    &.is-open {
        display: block;
    }

    &__close-button {
position: absolute;
top: 10px;
right: 10px;

    }

    &__list{
        list-style-type: none;
            font-weight: 500;
            letter-spacing: 0.02em;
            line-height: 1.14;
            transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
            display: none;
            gap: 50px;
            margin-left: 93px;
    }

    &__item{
        position: relative;
            padding-bottom: 28px;
            padding-top: 32px;
            display: block;
    }


        &__link {
            display: none;
            text-decoration: none;
            color: inherit;
            transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
    
            &:hover {
                color: var(--color-accent);
            }
    
            &:focus {
                color: var(--color-accent);
            }
    
            &--current::after {
                display: inline-block;
                content: '';
                width: 100%;
                height: 4px;
                position: absolute;
                left: 0;
                bottom: -2px;
                background-color: var(--color-accent);
                border-radius: 2px;
            }

}
}